# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies 
.packages
build/
coverage/

# Android
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/app/build/
*.apk
*.aab
*.keystore
*.jks
key.properties

# iOS
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/

# IDE & OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
node_modules/

# Secrets
google-services.json
GoogleService-Info.plist
.env
